@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>
    Blown film troubleshooting
</h1>
<h3>
    Guide to blown film problems and their solutions
</h3>
<table>
    <thead>
        <tr>
            <td>
                Problem
            </td>
            <td>
                Cause
            </td>
            <td>
                Solution
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="2">
                Applesauce
            </td>
            <td>
                thing 1
            </td>
            <td>
                thing 2
            </td>
        </tr>
        <tr>
            <td>
                other thing 1
            </td>
            <td>
                other thing 2
            </td>
        </tr>
    </tbody>
</table>