@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the <b>JSoft</b> Extrusion Web App</h1>
</div>
<div>
    <div>
        <h3 style="text-decoration:underline" class="text-left">
            What can I do here?
        </h3>
        <h5 class="text-left">
            Here you will be able to handle basic extrusion calculations, roll sizes, core information, and look up basic extrusion troubleshooting issues.
        </h5>
        <h3 style="text-decoration:underline" class="text-left">
            Who is this for?
        </h3>
        <h5 class="text-left">
            This web app is for anyone who works with blown film, sheeting, or anything that is wound on rolls.  This application is a must for the flex pak industy.
        </h5>
    </div>

</div>
    <div class="text-center">
        <a asp-controller="Calculator" asp-action="Index" class="ClickLink">Click here to enter!</a>
    </div>


